# =========================
# Nuxt 4 / Nitro
# =========================
.nuxt
.output
.nitro
.data
.cache
dist

# =========================
# Node / pnpm
# =========================
node_modules
.pnpm-store

# =========================
# Logs
# =========================
logs
*.log

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# OS / IDE
# =========================
.DS_Store
.fleet
.idea
.vscode

# =========================
# Netlify (if used)
# =========================
.netlify

# =========================
# Rust / Tauri
# =========================
/target
/src-tauri/target
*.rs.bk